@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-medium;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-black;
    src: url(fonts/Roboto/Roboto-Black.ttf);
}



* {
    padding: 0;
    margin: 0;

    z-index: 2;

    font-family: roboto;
}

body, html {
    height: 100%;
    width: 100%;
}


html {
    overflow: auto;
}